.flight-result{
	border: 1px lightgrey solid;
	border-radius: 10px;
	padding: 5px 10px;
	position: relative;
	display: inline-block;
	margin-top: 15px;
	padding-right: 90px; /*because .leg has 80px left position*/
	
}

.flight-result .price{
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	float: left;
	/*margin-right: 20px;*/
	position: absolute;
	top: 10px;
	margin: 0;
}
.flight-result p{
	font-family: 'Cantarell', sans-serif;
	margin: 0;
	font-size: 15px;
}
.flight-result .maininfo {

}
.flight-result .otherinfo {
	color: lightgrey;
}
.leg{
	position: relative;
	left: 80px;
}
.travel-time{
    font-family: 'Cantarell';
    font-size: 12px;
    text-align: right;
    position: relative;
    margin-right: -70px;
    color: lightslategrey;
}
#chartContainer{
	width: 800px;
	height: 500px;
	border: 1px solid grey;
	margin-top: 15px;
}