

body{
/*	background: url(./assets/background-image.jpg) no-repeat bottom right fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

h1{
	font-family: 'Archivo Black', sans-serif;
	margin: 2px;
}
.display-input-results h1{
	font-size: 20px;
	align-items: center;
}
h2{
	font-family: 'Tenor Sans', sans-serif;
	font-size: 18px;
	margin: 0;
}
#answerQuery, #departure_date, .originAirportInputs input{
	    height: 30px;
    font-size: 20px;
}
.originAirportInputs input{
	margin-bottom: 5px;
}
.originAirportInputs input:disabled{
	background-color: lightgrey;
}
.display-airport{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.display-input-results{
	display: flex;
	justify-content: space-around;
	padding: 3px 0;
	margin: 2px 0;
	border-radius: 5px;
	border: 1px #f0f0f0 solid;
	background-color: #FFFFFFAD;
}
.display-input-results a{
	color: red;
}

.leftSide{
	width: 275px;
}
.rightSide{
	width: 275px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*font-size: 25px;*/
}
.flight-search-block{
	margin-top: 10px;
	display: flex;
	align-items: center;
}
.x-out{
	margin-right: 5px;
	font-size: 20px;
}
.fa-arrow-circle-right{
	margin: 0 3px;
}
.cities{
	margin: 0;
	font-family: 'Cantarell', sans-serif;
	font-size: 12px;
	
}
.city{
	font-weight: bold;
	font-size: 15px;
}

.airport-city
{
	font-family: 'Cantarell', sans-serif;
	font-size: 12px;
}
.intro-block{
	/*position: absolute;*/
	/*top: 50px;*/
	z-index: 2;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.btn{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	background-color: #3d84c2;
    border-color: #204d74;
    color: #fafafa;
}
.btn:hover{
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn:disabled{
	background-color: #d9d9d975;
	/*border: none;*/
}
.step-directions{
	text-align: center;
}
.underline{
	text-decoration: underline;
}
.airport{
	font-weight: bold;
}
input.airport-code{
	width: 4em;
}
.map-container{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.blue{
	color: rgba(41, 128, 185, 1);
}
.red{
	color: rgba(192, 57, 43, 1);
}
.green{
	color: rgba(39, 174, 96, 1);
}
.orange{
	color: rgba(230, 126, 34, 1);
}
.purple{
	color: rgba(142, 68, 173, 1);
}
.yellow{
	color: rgba(241, 196, 15, 1);
}





#mymap{
	height: 100%; 
	width: 100%; 
/*	position:absolute; 
	top: 0; 
	left: 0; 
	z-index: -1;*/ 
}
.searchSide{
	text-align: center;
	width: 450px;
	height: 300px;
	display: flex;
	flex-direction: column;
	/*background: #fafafaad;*/
	padding: 20px;
	/*border-radius: 20px;*/
	/*border: 1px solid lightseagreen;*/
}
.next-field{
	display: flex;
	align-items: center;
}

.centered{
	display: flex;
	justify-content: center;
}
div.sliders{
	/*width: 400px;*/
	/*position: absolute;*/
}
fieldset{
	border: none;
	padding: 5px;

    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    min-width: -webkit-min-content;
	/*min-width: 500px;*/
}

ul{
	list-style: none;
}
.sortable-placeholder{
	height: 100px;
}
.searchForm{
	display: flex;
	/*position: absolute;*/
	/*z-index: 1;*/
	/*align-self: center;*/
	/*width: 500px;*/
	/*background-color: #fafafaad;*/
	/*border: 1px solid lightgrey;*/
	/*border-radius: 5px;*/

}
.searchForm div.searchBox {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 5px;
	height: 32px;
}
.searchForm div.airportInfo{
	/*margin-left: 15px;*/
}

.airport.origin1{
	color: maroon;
}
.airport.origin2{
	color: blue;
}
.airport.origin3{
	color: darkorange;
}
.airport.destination{
	color: green;
}
#nonStopCheckBox{
	width: 15px;
	height: 15px;
}

.flight-result{
	border: double;
	border-radius: 10px;
	padding: 10px 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 15px;
	width: 550px;
}

.flight-result .left-side{
	display: flex;
	flex-direction: column;

	justify-content: space-around;
}
.flight-result .right-side{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.flight-result .top{
	display: flex;
	justify-content: space-around;
}
.flight-result .bottom {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.flight-result .price{
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	margin: 0;
	
}
.flight-result .maininfo{
	font-family: 'Cantarell', sans-serif;
	margin: 0;
	font-size: 15px;
}
.flight-result .airplane{
	color: lightgrey;
}
.flight-result .btn{
	margin-right: 5px;
}

.flight-result .leg img {
	width: 15px;
}
.flight-result .otherinfo {
	color: lightgrey;
}
.legs{
	display: flex;
	flex-direction: column;
}
.search.displayAirportName {
	font-family: 'Cantarell';
	font-size: 13px;
	color: #222;
}
.travel-time, .search.displayAirportCityState{
	font-family: 'Cantarell';
	font-size: 12px;
    color: lightslategrey;
}

.fa-question-circle{
	font-size: 25px;
	color: w3-metro-dark-blue;
}


#typewriter{
	position: absolute;
	width: 425px;
	height: 200px;
	top: 0;
	right: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: rgba(255,255,255,0.8);
	padding: 15px;
	border-radius: 10px;
}
#typedtext{
	font-family: 'Coming Soon', cursive;
	font-size: 20px;
}
