.airport{
	font-weight: bold;
}

div.sliders{
	/*width: 400px;*/
	/*position: absolute;*/
}
fieldset{
	border: 1px solid #f0f0f0;
	min-width: 500px;
}

.searchForm{
	display: flex;
	width: 100%;
}
.searchForm div.searchBox {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 5px;
	height: 32px;
}
.searchForm div.airportInfo{
	margin-left: 15px;
}

.airport.origin1{
	color: maroon;
}
.airport.origin2{
	color: blue;
}
.airport.origin3{
	color: darkorange;
}
.airport.destination{
	color: green;
}
#nonStopCheckBox{
	width: 15px;
	height: 15px;
}

.flight-result{
	border: double;
	border-radius: 10px;
	padding: 10px 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 15px;
	width: 550px;
}

.flight-result .left-side{
	display: flex;
	flex-direction: column;

	justify-content: space-around;
}
.flight-result .right-side{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.flight-result .top{
	display: flex;
	justify-content: space-around;
}
.flight-result .bottom {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.flight-result .price{
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	margin: 0;
	
}
.flight-result .maininfo{
	font-family: 'Cantarell', sans-serif;
	margin: 0;
	font-size: 15px;
}
.flight-result .airplane{
	color: lightgrey;
}
.flight-result .btn{
	margin-right: 5px;
}

.flight-result .leg img {
	width: 15px;
}
.flight-result .otherinfo {
	color: lightgrey;
}
.legs{
	display: flex;
	flex-direction: column;
}
.search.displayAirportName {
	font-family: 'Cantarell';
	font-size: 13px;
	color: #222;
}
.travel-time, .search.displayAirportCityState{
	font-family: 'Cantarell';
	font-size: 12px;
    color: lightslategrey;
}

.fa-question-circle{
	font-size: 25px;
	color: w3-metro-dark-blue;
}
