.sliders {
    width: 90%; /* Width of the outside container */
	margin: 20px auto 10px;
    /*margin: 50px;*/
}
.sliders .horiz-slider{
	margin-top: 10px;
}
.ui-slider-range-min{
    color: blue;
}
#max-slider{
	width: 100%;

}
#range-slider{
	width: 100%;
	margin-top: 10px;


}
#flightsChart{

}

.chart-sliders-container{
	/*width: 800px;*/
	margin-top: 75px;
	height: 500px;
	z-index: 2;
	/*border: 1px solid grey;*/
/*	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;*/
}
#time-range-display, #max-price-display{
	margin-top: 5px;

}
#chartContainer{
	position: relative;
	/*height: 40vh;*/
	width: 80vw;
	max-width: 700px;
	min-width: 350px;

}
.rawResults{
	margin-top: 80px;
}